---
import "./style.css";
---

<div class="animation-layout">
  <div class="position container">
    <div class="component blue"></div>
    <div class="component red"></div>
    <div class="component yellow"></div>
  </div>
  <div class="transform container">
    <div class="component blue"></div>
    <div class="component red"></div>
    <div class="component yellow"></div>
  </div>
</div>
